.tree-node {
  margin-left: 20px;
}
.node-content {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 0;
}
.arrow {
  margin-right: 8px;
  font-size: 12px;
}
.deleted {
  color: gray;
}
.node-text {
  user-select: none;
}
.node-text:not(.arrow + .node-text) {
  margin-left: 10px;
}
